.gartic-menu {
    top: var(--menu-position-top);
    left: var(--menu-position-left);
    width: 130px;
    height: 41px;
    background-color: rgba(28, 30, 34, .95);
    z-index: 999;
    border: 1px solid #424242;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(28, 30, 34, .95);
    padding: 7px;
}

.menu-icons {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    gap: 15px;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.menu-icon:hover {
    color: #68c8ce;
}

.rooms {
    position: absolute;
    top: var(--rooms-position-top);
    left: var(--rooms-position-left);
    width: 240px;
    height: fit-content;
    z-index: 999;
    background-color: rgba(28, 30, 34, .95);
    border-radius: 5px;
    border: 2px solid #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms-container {
    background-color: rgba(28, 30, 34, .95);
    color: white;
}

.rooms-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.rooms-title {
    font-size: 20px;
}

.rooms-close {
    cursor: pointer;
}

.rooms-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.room {
    width: 220px;
    height: 86px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(28, 30, 34, .95);
    gap: 1px;
    overflow: hidden;
}

.room:not(:hover):not(.selected) {
    background-color: rgba(28, 30, 34, .95);
    border-color: #424242;
}

.room:hover {
    background-color: rgba(24, 33, 51, 0.95);
}

.room:not(.selected):hover {
    border-color: rgba(0, 121, 255, .7);
    border-width: 2px;
}

.selected {
    background-color: rgba(28, 30, 34, .95);
    border-color: #0a5efb;
    border-width: 2px;
}

.room-theme {
    font-size: 20px;
}

.room-name {
    font-size: 18px;
}

.room-players {
    font-size: 16px;
}

.hidden {
    display: none !important;
}

.sound {
    position: absolute;
    top: var(--sound-position-top);
    right: var(--sound-position-left);
    z-index: 100;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.sound-container {
    padding: 10px;
}

.sound-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sound-title {
    font-size: 18px;
    font-weight: 600;
}

.sound-close {
    cursor: pointer;
}

.sound-list {
    display: flex;
    flex-direction: column;
}

.sound-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sound-name {
    font-size: 16px;
}

.sound-toggle {
    display: flex;
}

.sound-toggle__item {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.sound-toggle__item.active {
    background: #f1f1f1;
}

.info {
    position: absolute;
    top: var(--info-position-top);
    right: var(--info-position-left);
    z-index: 100;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.info-container {
    padding: 10px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.info-title {
    font-size: 18px;
    font-weight: 600;
}

.info-close {
    cursor: pointer;
}

.info-content {
    display: flex;
    flex-direction: column;
}

.info-content__item {
    margin-bottom: 10px;
}

.info-content__item-title {
    font-size: 16px;
    font-weight: 600;
}

.info-content__item-text {
    font-size: 14px;
}

.info-content__item-text a {
    color: #007bff;
    text-decoration: none;
}

.full,
.full::before {
    color: #f96a2b !important;
}

.infosRoom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.infosRoom>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.infosRoom>div>i::before {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    color: #0a5efb;
    font-size: 20px;
    margin-bottom: 3px;
}

.infosRoom>div {
    width: 55px;
    color: #868d96;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.infosRoom>div>span {
    font-size: 12px;
}

.users-quantity {
    display: flex;
    width: 55px;
    color: #868d96;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}