.canvas.disabled {
    pointer-events: none;
    position: relative;
}

.canvas.disabled:after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("https://cdn.dribbble.com/users/591610/screenshots/3854786/caballete2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: rgba(28, 30, 34, .95);
    z-index: 1;
}

.mouse-follow {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 1px solid #000;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    display: none;
}

.canvas-container {
    display: flex;
    align-items: center;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-bucket {
    cursor: url("https://cdn-icons-png.flaticon.com/512/104/104678.png"), auto;
}

.canvas .alert {
    display: none;
}

.toolbar {
    width: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar .toolbar__item {
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}

.recent_colors {
    display: flex;
}

.recent_colors .recent_color {
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

.toolbar .toolbar__item a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.toolbar .toolbar__item a:hover {
    color: #68c8ce;
}

.toolbar .toolbar__item a {
    color: #fff;
}

.toolbar .toolbar__item .color {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 5px;
    display: inline-block;
}

.toolbar .toolbar__item .color:hover {
    border: 2px solid #fff;
}

.toolbar .toolbar__item .color-bg {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0;
    margin: 5px;
}

.toolbar .toolbar__item .color-bg i {
    margin: 0;
}

.toolbar .toolbar__item .color-div {
    width: 100%;
    padding: 0 5px;
    position: relative;
}

.toolbar .toolbar__item .color-div .color-input {
    width: 75px;
    height: 30px;
    padding: 0;
    position: relative;
    outline: none;
    border: none;
    appearance: none;
    border-radius: 3px;
}

.canvas .canvas-container {
    height: 550px;
    width: 800px;
    overflow: hidden;
}

.container-canvas {
    display: flex;
    flex-direction: column;
}

.canvas-container {
    background: rgba(28, 30, 34, .95);
}

.link-page input {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    width: 500px;
}

.canvas {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background-color: rgba(28, 30, 34, 0.95);
    border-radius: 5px;
}

.canvas-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cursor-move {
    cursor: move;
}

.opacity-hidden:not(:hover) {
    opacity: 0.1;
}

.opacity-hidden {
    transition: opacity 0.3s;
}

#size {
    width: 75px;
}

.players::-webkit-scrollbar {
    width: 10px;
    border-left: 4px solid rgba(28, 30, 34, .95);
}

.players::-webkit-scrollbar-thumb {
    border-left: 4px solid rgba(28, 30, 34, 0.55);
}

.players::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-left: 4px solid rgba(28, 30, 34, 0.85);
}

.players-container {
    width: 169px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 7px;
    gap: 5px;
    justify-content: space-between;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    max-height: calc(100% - 50px);
}

.player-card {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    img {
        width: auto;
        height: 100%;
    }
}

.spans-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.buttons-interactions {
    align-items: center;
}

.buttons-interactions>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 7px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.scored {
    background: rgba(54, 231, 69, 0.95);
}

.playing {
    background: rgba(74, 126, 238, 0.95);
}

.canvas-game {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
}

.guess-container {
    display: flex;
    gap: 5px
}

.game-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.guess-text {
    width: 252px;
    padding: 0px 15px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.eyedropper {
    position: absolute;
    top: 7px;
    left: 45%;
}

.hint-title {
    font-weight: 700;
}

.recentColors-title {
    font-size: 11px;
    margin-bottom: 3px;
    font-family: 'Inter';
    text-transform: capitalize;
}

.timer-container {
    position: absolute;
    top: 35px;
    width: 800px;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.timer {
    width: 100%;
    height: 10px;
    background-color: #FFEDCE;
    border-radius: 5px;
    overflow: hidden;
}

.timer_progress {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #FFA000;
}